<section class="spells-mastery">
    <h4 class="mastery-title">{{localize "l5r45.sheet.spellMastery"}}:</h4>
    <div class="water mastery">
        <img src="systems/l5r45/assets/icons/water.png" title="{{localize "l5r45.rings.water"}}" />
        <input type="number" name="system.spellMastery.water" value="{{system.spellMastery.water}}" />
    </div>
    <div class="air mastery">
        <img src="systems/l5r45/assets/icons/air.png" title="{{localize "l5r45.rings.air"}}" />
        <input type="number" name="system.spellMastery.air" value="{{system.spellMastery.air}}" />
    </div>
    <div class="fire mastery">
        <img src="systems/l5r45/assets/icons/fire.png" title="{{localize "l5r45.rings.fire"}}" />
        <input type="number"name="system.spellMastery.fire" value="{{system.spellMastery.fire}}" />
    </div>
    <div class="earth mastery">
        <img src="systems/l5r45/assets/icons/earth.png" title="{{localize "l5r45.rings.earth"}}" />
        <input type="number" name="system.spellMastery.earth" value="{{system.spellMastery.earth}}" />
    </div>
    <div class="void mastery">
        <img src="systems/l5r45/assets/icons/void.png" title="{{localize "l5r45.rings.void"}}" />
        <input type="number" name="system.spellMastery.void" value="{{system.spellMastery.void}}" />
    </div>
</section>