<form>
  {{#unless weapon}}
  <div class="form-group">
    <label>{{localize "l5r45.mech.woundPenalty"}}?</label>
    <input type="checkbox" name="woundPenalty" checked="checked" />
  </div>
  {{/unless}}
  {{#unless noVoid}}
  <div class="form-group">
    <label>{{localize "l5r45.rings.void"}}?</label>
    <input type="checkbox" name="void" />
  </div>
  {{/unless}}
  {{#if trait}}
  <div class="form-group">
    <label>{{localize "l5r45.mech.unskilledRoll"}}?</label>
    <input type="checkbox" name="unskilled" />
  </div>
  {{/if}}
  {{#if skill}}
  <div class="form-group">
    <label>{{localize "l5r45.mech.roll"}} {{localize "l5r45.mech.mod"}}?</label>
    <input type="number" name="rollMod" value={{rollBonus}} />
  </div>
  <div class="form-group">
    <label>{{localize "l5r45.mech.keep"}} {{localize "l5r45.mech.mod"}}?</label>
    <input type="number" name="keepMod" value={{keepBonus}} />
  </div>
  <div class="form-group">
    <label>{{localize "l5r45.mech.total"}} {{localize "l5r45.mech.mod"}} ?</label>
    <input type="number" name="totalMod" value={{totalBonus}} />
  </div>
  {{else}}
  <div class="form-group">
    <label>{{localize "l5r45.mech.roll"}} {{localize "l5r45.mech.mod"}}?</label>
    <input type="number" name="rollMod" value="0" />
  </div>
  <div class="form-group">
    <label>{{localize "l5r45.mech.keep"}} {{localize "l5r45.mech.mod"}}?</label>
    <input type="number" name="keepMod" value="0" />
  </div>
  <div class="form-group">
    <label>{{localize "l5r45.mech.total"}} {{localize "l5r45.mech.mod"}} ?</label>
    <input type="number" name="totalMod" value="0" />
  </div>
  {{/if}}
  
</form>